[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
black = "*"
cryptography = "*"
requests = "*"
minio = "*"
boto3 = "*"
nvflops = {editable = true, path = "."}
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
