[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
flask-sqlalchemy = "*"
minio = "*"
requests = "*"
flask-migrate = "*"
nvflops = {editable = true, path = "."}
psutil = "*"

[dev-packages]
pipenv-setup = {extras = ["block"], version = "*"}
nvflops = {editable = true, path = "."}

[requires]
python_version = "3.8"
